- content_for :heading, "Welcome to How to Make Websites!"
- content_for :content do
  :scss
    h3 {margin-top: 40px; margin-bottom: 30px;}
    h3.first { margin-top: 0;}

  %h3.first Purpose

  %p This course takes you, from the ground up, through the technology, tools, and skills needed to create and publish websites online for the world to see.

  %p
    If you’ve ever thought:
    %em{style: "background-color: #FFFF8D"} &ldquo;I have no idea where to start&rdquo;
    you are not alone, but it sure does feel lonely and intimidating.

  %p This course provides an answer to your question of where to start. What’s more, we’ll map out a path together as we explore so we feel less and less lost as we go.

  %p Our map might be small to start, but we will be on our way.

  %h3 Objectives

  %p By the end of this course you will be able to:

  %ul
    %li
      %strong Identify
      the technology and concepts that go into building front-end websites.
    %li
      %strong Create
      a website using hand-written code and publish it online.
    %li
      %strong Expand
      your education on your own by knowing what to Google and what to practice.

  %p Actually, you will create and publish a website for the world to see at the end of the first sessions. This is the power of the Open Web, so get excited!

  %h3 Class Materials
  %ul
    %li
      %strong Laptop
    %li
      %strong Text editor
      &mdash; Download
      %a{href: "http://www.sublimetext.com/3"} Sublime 3
    %li
      %strong Web browser
      &mdash;
      %a{href: "https://www.google.com/chrome/browser/desktop/"} Google Chrome
    %li
      %strong Materials
      &mdash;
      posted on this website and will be linked to you!
    %li
      %strong Questions, Discussion &amp; Support
      &mdash;
      slack channel: #learn-make-websites
  %h3 Prerequisites
  %p All skill levels are welcome, there are no technical prerequisites. Previous experience with HTML, CSS, and any programming language will empower you to help others during our class journey, but it is not required.


  %h3 Course Structure
  %p Content is released before class for you to work through at your own pace. Short quizzes check for comprehension and signify your participation.
  %p
    %span{style: "background-color: #FFFF8D"}
      It is absolutely okay if you don’t fully understand the content!

  %p The important part is to give your mind a chance to let the material sink in on your own time in your own way.

  %p Class time will support your efforts in this matter! During class we’ll go through it together and fill in the gaps. But it is important everyone comes prepared.

  %p Our short class time will fly by and it is not possible to ensure 20+ people attain long-term comprehension of concepts they learned 20 minutes ago.

  %p Class time will focus on reinforcing the content by filling in gaps, having group discussions, and hands-on exercises and group activities.


  %h3 Code of Conduct


  %p
    %strong Vulnerability
    %br
    Learning is hard. As a student you are admitting you don’t know something. In class, when the teacher asks &ldquo;does everyone understand&rdquo;, it requires tremendous trust to answer honestly in a room full of peers. Will you look bad? Does it mean you are behind?

  %p
    %span{style: "background-color: #FFFF8D"}
      The best learning environment is one in which each person feels safe in their vulnerability.
  %p Let us all support everyone in their vulnerability by respecting and honoring all forms of participation and interaction.

  %p
    %strong Collaboration
    %br
    In this course, there is no such thing as &ldquo;owned work&rdquo;, therefore there is no concept of cheating or foul play. All assignments are collaborative whether specified or not. Assignments meant for you to work through on your own are for your own practice and benefit. Try to work through it. If you are unable to, asking for support is the right thing to do. On that note, helping others is a great way to exercise and audit your own understanding.

  %h3 Disruptions

  %p It is understandable, as adult learners, that schedules conflict and sometimes you just really need to take that call. (Note there will be a small break halfway through class.)

  %p Given that two hours is a very short time, please minimize disruptions if possible, and please plan to attend every session. Since the class provides all content before and outside of class, in-class sessions are not strictly mandatory, but it helps set the tone for yourself and your motivation as well as your classmates as groups form and you come to rely on one another.

  %h3 Thank you &mdash; see you in class!
