<% if current_user %>
<div id="hd-border"></div>
<div id="NavTabs">
  <div class="primary-content">
    <div class="inner">
      <h3>Courses</h3>
      <ul>
      <% @courses.each do |course| %>
        <li><a href="<%= course_path(course) %>"><%= course.name %></a></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<% else %>
<div id="login-screen">
  <h1>Makeist</h1>
  <a href="/auth/dropbox_oauth2" class="dropbox-login">
    Login with <img src="//s3.amazonaws.com/makeist.com/app/dropbox-logo.png" alt= "Dropbox">
  </a>
</div>
<% end %>
