#login-screen
  %h1 Makeist
  - if flash[:notice]
    #notice-wrap
      = flash[:notice]
  %a.dropbox-login{ href: '/auth/dropbox_oauth2' }
    Login with
    %img{ src: "//s3.amazonaws.com/makeist.com/app/dropbox-logo.png", alt: "Dropbox" }
