- content_for :heading, "How to make a website"
- content_for :next_page do
  %a{href: page_path("websites-on-the-internet")} How to get my website on the Internet?

- content_for :content do
  %p.first
    Wait! Please ensure you understand
    %a{href: page_path("what-is-a-website")} what a website is.
    This makes a lot more sense if you do. Then read on!

  %p We've learned a website is a collection of web documents that contain information and code that explain how the information should display.
  %p
    So technically we already know how to make a website; just add text to a file and open it in a web browser.
  %p
    But it's so sad looking! That's not what I meant!! How do I make a website <em>look good</em> and do cool stuff?
  %p
    You sure you want to know? You sure??? You sure??
  %p
    Alright let's do it! Into the codezz we go!
  %p
    Since the content is just text, we need to explain how that text should be <em>structured</em>
  %p
    Draw out your structure. How do you want your website to look?
    If you don't know, the computer won't know either!!
  %p
    Think of a how an article in a newspaper would look? Even though it's just text, it has a structure.
    Some words represent the header.
    Some words represent a paragraph,
    Some words are emphasised,
    Some words are beside eachother.
    Sometimes there's a picture.
  %p
    HTML is the code you need to provide structure to your content.
  %p
    HTML is a language that "marks up" your content in order to distinguish one piece of content from the rest.
  %p
    With our content "marked up" we can target specific content and add instructions on how that content should display.
  %p
    What is a header?
    What is a paragraph?
    What is an article?
    What is a footer?
    Where should this content go in relation to this other content?
    Is this content tabular data?
