- content_for :heading, "What is the Internet?"
- content_for :next_page do
  %a{href: page_path("web-browser")} What is a web browser?

- content_for :content do
  %p.first
    The Internet is a global collection of interconnected computers that can talk to one another.
  %p
    This is a big deal because it means the entire world is <strong>connected</strong>
    and information can flow freely to anyone, instantly, if you have a computer that is.
  %p
    A computer is an electronic device that stores and processes data. Your laptop, desktop, smart-phone, smart-tv, Ipad, Kindle, even smart-appliances may be thought of as computers.
    If it can connect to the Internet, it’s probably a computer, and it is a member of the Internet!

  %p That's crazy! How does my computer in California connect to a computer in Japan?
  %p Physical cables.
  %p Your smart-phone connects to the Internet and asks another computer for a specific website.
  %p Let me check that website out, bro =D
  %p The "other computer" receives the request and sends back a web document.
  %p If a web document is a text file, how do you as a human being view and interact with the document in a human friendly way?

- content_for :extra do
  %p
    Disclaimer. The Internet is a marvel of technical engineering. “Connect a group of computers” is easy to say but hard to do. You can read about how it all works here https://web.stanford.edu/class/msande91si/www-spr04/readings/week1/InternetWhitepaper.htm
    http://www.theshulers.com/whitepapers/internet_whitepaper/
  %p
    Don’t let that overwhelm you. You don’t need to understand those things to make a website. The better you get the more you’ll be able to understand. But first things first.
  %p Computer Networks and Computer networking
  %ul
    %li http://blog.ted.com/how-does-the-internet-work-see-how-a-continent-gets-plugged-in/
    %li http://gizmodo.com/this-map-shows-how-the-internet-travels-across-the-worl-1514043756
    %li https://en.wikipedia.org/wiki/Internet_backbone
    %li https://en.wikipedia.org/wiki/Transatlantic_communications_cable
    %li https://www.udacity.com/course/computer-networking--ud436


