<div id="world"></div>
<script>
    var router = new Router().configure({ html5history: true, strict: false })
        , user = <%= current_user.to_api.to_json.html_safe %>
        , course = <%= @course.to_api.to_json.html_safe %>
        , lesson = <%= @lesson ? @lesson.to_api.to_json.html_safe : 'course.lessons[0]' %>
    ;
  <%- if Rails.env.production? %>
    analytics.identify(user.id, { name: user.name, email: user.email });
  <%- end %>

    React.render(Gateway({
                    user: user,
                    course: course,
                    bootStrappedLesson: lesson,
                    CSRFTOKEN : '<%= form_authenticity_token %>',
                    router: router
                }), document.getElementById('world'));
</script>
