<div id="NavTabs"></div>
<script>
    window.MK = {
        COURSE : <%= @course.to_api.to_json.html_safe %>,
        USER : <%= current_user.to_api.to_json.html_safe %>,
        CSRFTOKEN : '<%= form_authenticity_token %>'
    };
  <%- if Rails.env.production? %>
    analytics.identify(MK.USER.id, {
      name: MK.USER.name,
      email: MK.USER.email
    });
  <%- end %>
    var lesson, tabs = [];
  <% if @lesson %>
    lesson = <%= @lesson.to_api.to_json.html_safe %>
  <% end %>

    tabs.push({
        name: 'Lessons',
        content: Lessons,
        async : function() {
            return {
                loaded: true,
                lessons: MK.COURSE.lessons,
                lesson: lesson || MK.COURSE.lessons[0]
            }
        }
    });
    if(MK.COURSE.calendar_embed) {
        tabs.push({
            name: 'Calendar',
            content: Calendar,
            async: function() {
                return { embed_url: MK.COURSE.calendar_embed, loaded: true }
            }
        });
    }
    tabs.push({
        name: 'Members',
        content: Members,
        async: '/courses/' + MK.COURSE.id + '/students'
    });
    tabs.push({
        name: 'Attendance',
        content: Attendances,
        async: '/courses/' + MK.COURSE.id + '/attendances'
    });
    tabs.push({
        name: 'My Website',
        content: Website,
        async: function() {
            return { user: MK.USER, loaded: true }
        }
    });

    MK.Nav = React.render(NavTabs({ tabs: tabs, courseName: MK.COURSE.name }), document.getElementById('NavTabs'));
    MK.Nav.setState({
        loaded: true,
        content: {
            lessons: MK.COURSE.lessons,
            lesson: lesson || MK.COURSE.lessons[0]
        }
    });
</script>
