// http://www.google.com/design/spec/style/color.html#color-color-palette
$text-color: #555;
$text-color-light: #ccc;
$fill-color: #efeeeb;
$border-color: #E0E0E0;
$row-fill-color: #FAFAFA;
$link-color: #0091EA;
$link-hover-color: #00B0FF;
$link-active-color: #01579B;
$default-padding: 25px;
$success-color: #33691E;
$error-color: #DD2C00;
