// http://www.google.com/design/spec/style/color.html#color-color-palette
$primary-navigation-width: 15%;
$navigation-width: 22%;
$text-color: #757575;
$text-color-light: #ccc;
$fill-color: #F5F5F5;
$navigation-background-color: #F9F9F9;
$border-color: #E0E0E0;
$row-fill-color: #FAFAFA;
$link-color: #0091EA;
$link-hover-color: #0277BD;
$link-active-color: #01579B;
$default-padding: 30px;
$success-color: #33691E;
$error-color: #DD2C00;
$mobile-breakpoint-width: 700px;
