@import "variables";

.attendance {
  .student {
    opacity: 0.5;
    cursor: pointer;
    input {
      color: $error-color;
    }
    &.present {
      opacity: 1;
      input {
        color: $success-color;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
