@import "variables";

html { font-size: 62.5%; }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: $text-color;
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $fill-color;
}
a:link {
  color: $link-color;
}
a:visited {
  color: #01579B;
}
a:hover {
  color: $link-hover-color;
}
a:active {
  color: $link-color;
}
p, ul {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  margin-top: 0;
}
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 32px;
  line-height: 3.2rem;
}
h2 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 28px;
  line-height: 2.8rem;
}
h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 24px;
  line-height: 2.4rem;
}
h4 {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px;
  line-height: 2.0rem;
  @media all and (max-width: $mobile-breakpoint-width) {
    font-size: 1.8rem;
  }
}
textarea {
  font-size: inherit;
  color: inherit;
}
pre {
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
ul, ol {
  margin: 0;
}
a.button {
  padding: 0 20px;
  border: 1px solid $link-color;
  text-decoration: none;
  &:hover {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: $link-color;
  }
}
.inner {
  padding: $default-padding;
}
select.lessons {
  float: right;

  option {
    font-size: 40px;
  }
}
#world {
  height: 100%;
  > div {
    height: 100%;
  }
  @media all and (max-width: $mobile-breakpoint-width) {
    height: auto;
    > div {
      height: auto;
    }
  }
}
.primary-content {
  @media all and (max-width: $mobile-breakpoint-width) {
    width: 100%;
    left: 0;
    position: relative;
    min-height: auto;
  }
}
.nav-open {
  .navigation-content {
    width: $navigation-width;
    @media all and (max-width: $mobile-breakpoint-width) {
      width: 100%;
      max-height: 2000px;
    }
  }
  .primary-content {
    width: 100% - $primary-navigation-width - $navigation-width;
    left: $primary-navigation-width + $navigation-width;
    @media all and (max-width: $mobile-breakpoint-width) {
      width: 100%;
      left: auto;
    }
  }
}
