@import "variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $fill-color;
}
p, ul, div {
  font-size: 16px;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'News Cycle', sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}
h1 {
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 23px;
}
h3 {
  font-size: 26px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
textarea {
  font-size: inherit;
  color: inherit;
}

blockquote {
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
ul, ol {
  margin: 0;
}

#panel {
  display: none;
  width: 15%;
  position: fixed;
  height: 100%;
  vertical-align: top;
  background-color: $fill-color;
  border-right: 1px solid #ccc;
  z-index: 4;
  a {
    color: inherit;
  }
  .course-name {
    background-color: inherit;
    a {
      display: block;
      font-size: 24px;
      padding: 0 20px;
      line-height: 65px;
      text-decoration: none;
      &:hover {
        color: #9E9E9E;
      }
    }
  }
  .user {
    position: absolute;
    bottom: 0;
    width: 100%;
    div {
      padding: 20px;
    }
  }
}
#main {
  position: relative;
  width: 100%;
  background-color: $fill-color;
}

#heading {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #efeeeb;
  h2 {
    line-height: 70px;
    margin: 0;
    padding: 0 20px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
#hd-border {
  height: 0;
  position: fixed;
  top: 70px;
  left: 12%;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid $border-color;

}

.inner {
  padding: 20px;
}

#new_student {
  font-size: 30px;
  input, button {
    font-size: inherit;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  button {
    border: 1px solid #33691E;
    background-color: #558B2F;
    color: #FFF;
  }
}

#lessons-wrap {
  background-color: #FFF;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
}

#NavTabs {
  height: 100%;
  > div {
    height: 100%;
  }
  .nav.nav-tabs {
    width: 12%;
    position: fixed;
    margin-top: 70px;
    padding: 0;
    list-style: none;
    z-index: 10;

    li {
      padding: 15px 20px;
      cursor: pointer;
      text-align: right;
      &:hover {
        color: #FF3D00;
      }
      &.active {
        background-color: #FFF;
        position: relative;
        left: 1px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        font-weight: 700;
      }
    }
  }
}
.tabs-content {
  position: absolute;
  width: 88%;
  left: 12%;
  min-height: 100%;
  background-color: #FFF;
  border-left: 1px solid $border-color;
  .tab {
    display: none;
    margin-top: 70px;
    &.active {
      display: block !important;
    }
  }
}
