@import "variables";
$row-fill-color: #FAFAFA;


#feedback-data {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
    color: #2a80b9;
    font-weight: normal;
    font-size: 1.1em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #FF3D00;
    }
  }
  tbody {
    tr {
      &.main {
        td {
          border: 1px solid $border-color;
          background: $row-fill-color;
          &:first-child {
            width: 150px;
          }
        }
      }
      &.essays {
        td {
          border-right: 1px solid $border-color;
          &.name {
            text-align: right;
            vertical-align: top;
            color: #757575;
          }
          &:last-child {
            border-right: 0;
          }
          pre {
            font-family: inherit;
            font-size: inherit;
            white-space: pre-wrap;       /* CSS 3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
          }
        }
      }
      td {
        min-width: 100px;
      }
    }
  }
}

@media all and (max-width: $mobile-breakpoint-width) {
  #feedback-data {
    th {
      font-size: 12px;
    }
    tbody {
      tr {
        &.main {
          td {
            &:first-child {
              width: auto;
            }
          }
        }
        &.essays {
          td {
            &.name {
              display: none;
            }
            &:last-child {
              border-bottom: 1px solid $border-color;
            }
          }
        }
        td {
          min-width: 0;
        }
      }
    }
  }
}
