@import "variables";
$row-fill-color: #FAFAFA;


#feedback-data {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
    color: #2a80b9;
    font-weight: normal;
    font-size: 1.1em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #FF3D00;
    }
  }
  tbody {
    tr {
      &.main {
        td {
          border: 1px solid $border-color;
          background: $row-fill-color;
          width: 100px;
        }
      }
      &.essays {
        td {
          border-right: 1px solid $border-color;
          &.name {
            text-align: right;
            color: #757575;
          }
          &:last-child {
            border-right: 0;
          }
        }
      }
      td {
        min-width: 100px;
      }
    }
  }
}
