@import "variables";

.lessons-wrap {
  list-style: none;
  margin-left: 20px;
  padding: 0;
  li {
    a {
      display: block;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.6em;
      span {
        display: inline-block;
        min-width: 150px;
      }
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
