@import "variables";

#lessons-dropdown {
  position: relative;

  h3 {
    position: relative;
    display: inline-block;
    svg {
      display: block;
      position: absolute;
      top: -10px;
      right: -60px;
      width: 45px;
      height: 45px;
      fill: $link-color;
      cursor: pointer;
      &:hover {
        fill: $link-hover-color;
      }
      circle {
        fill: #FFF;
      }
    }
  }
  .lessons-list-wrap {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 0;
    overflow: auto;
    background-color: #FFF;
    z-index: 11;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        list-style: none;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        color: $link-color;
        &:hover {
          color: $link-hover-color;
          text-decoration: underline;
        }
        svg {
          height: 18px;
          height: 18px;
          margin-right: 10px;
          fill: $green;
        }
      }
    }
  }
  &.active {
    .lessons-list-wrap {
      height: 500px;
      border: 1px solid $link-color;
      transition: height 250ms;
    }
  }
}
